<div>
    <div class="currentuser">
        <div>
            <span class="infolabel">Name: </span>
            <span class="infovalue">{{name}}</span>
        </div>
        <div>
            <span class="infolabel">Email: </span>
            <span class="infovalue">{{email}}</span>
        </div>
    </div>
    <div class="control-area">
        <button *ngIf="!isLoggedIn" class="form-control" (click)="onLoginClick($event)">Login</button>
        <button *ngIf="isLoggedIn" class="form-control" (click)="onRevokeClick($event)">Revoke tokens</button>
        <button class="form-control">History</button>
    </div>
</div>
